<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <input type="button" value="Assign Timee Table" onclick="location.href='@Url.Action("Index1", "Home" )'" />
        <input type="button" value="View Time Table" onclick="location.href='@Url.Action("View_tt", "Home" )'" />
    </nav>
</body>
</html>
